h5py
matplotlib
nibabel
numpy
pandas
pydicom
scikit_learn
scipy
tqdm
tensorboard
torchsummary
antspyx
imageio[ffmpeg]

scikit-learn
requests
torch
torchvision
pytorch-lightning
hydra-core
omegaconf
optuna

imageio
monai
torchio